
$pm-dark: #183650; //primary dark color

$pm-extra-dark: #122739;

$pm: #34ccff; //primary color

$pm-dark-border: #2ec0f1; // Used in bottom two links border. This color is less dark than $pm-dark

$pm-light: #30beed; //primary light color



$logo-font: '../fonts/Bjorn%20Light.otf';

$body-font: sens-serif;

$body-bg: #fcfcfc;

$dark-text-color: #183650;

$light-text-color: #fff; 

$lighter-black: #2b2b2b;